n8n_workflows/healthtech_master_workflow.json
{
  "name": "HealthTech Master Campaign Runner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "schedule-5min",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://fintech.softandpix.com/api/get_scheduled_campaigns.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR_N8N_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "check-scheduled",
      "name": "Check Scheduled Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-campaigns",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-any-due",
      "name": "Any Campaigns Due?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "campaigns",
        "options": {}
      },
      "id": "split-campaigns",
      "name": "Split Campaigns",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "https://fintech.softandpix.com/api/send_one_email.php",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR_N8N_API_KEY"
            },
            {
              "name": "campaign_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "follow_up_sequence",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email",
      "name": "Send One Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait-1s",
      "name": "Wait 1 Second",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-done",
              "leftValue": "={{ $json.done }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-done",
      "name": "Campaign Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "={{ 'Campaign ' + $json.sent + ' sent, ' + $json.failed + ' failed' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-complete",
      "name": "Campaign Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1780, 100]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[{"node": "Check Scheduled Campaigns", "type": "main", "index": 0}]]
    },
    "Check Scheduled Campaigns": {
      "main": [[{"node": "Any Campaigns Due?", "type": "main", "index": 0}]]
    },
    "Any Campaigns Due?": {
      "main": [
        [{"node": "Split Campaigns", "type": "main", "index": 0}],
        []
      ]
    },
    "Split Campaigns": {
      "main": [[{"node": "Send One Email", "type": "main", "index": 0}]]
    },
    "Send One Email": {
      "main": [[{"node": "Wait 1 Second", "type": "main", "index": 0}]]
    },
    "Wait 1 Second": {
      "main": [[{"node": "Campaign Done?", "type": "main", "index": 0}]]
    },
    "Campaign Done?": {
      "main": [
        [{"node": "Campaign Complete", "type": "main", "index": 0}],
        [{"node": "Send One Email", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["healthtech", "campaign", "scheduled"],
  "pinData": {}
}
